*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url('./images/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-btn{
    padding: 10px 25px;
    background-color: #5ae43f;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.login-btn:hover{
    box-shadow: 0px 0px 10px 3px #3737a6;
    color: rgb(255, 221, 0);
}

.overlay{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.model{
    background-color: rgb(144, 82, 82);
    height: 350px;
    width: 350px;
    border: 2px solid #000066;
    position: relative;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 17px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form-input{
    width: 80%;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #8f8d8d;
    color: #000066;
    font-size: 15px;
}
h1{
    margin-top: 15px;
    text-align: center;
    padding: 15px;
    color: #000066;
}
.btn{
    padding: 10px 20px;
    background-color: #000066;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 88%;
    border-radius: 20px;
}
.text{
    font-size: 15px;
    padding-bottom: 10px;
    color: #1b1bcc;
}
.sign-up{
    color: #000066;
    text-decoration: none;
}